**/.idea
**/.ipynb_checkpoints
**/data
Linear+Regression+Subjective+Questions.pdf
*.*.templ
**/venv
lending_club_case_study.ipynb
Multiple+Linear+Regression+-+Housing+Case+Study (2).ipynb
Housing+Case+Study+using+RFE (2).ipynb
